@font-face {
    font-family: 'carido';
    src:  url('fonts/Cardo-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'carido';
    src:  url('fonts/Cardo-Bold.ttf') format('woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'carido-italic';
    src:  url('fonts/Cardo-Italic.ttf') format('woff2');
    font-weight: 900;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Loto',sans-serif;
}
body{
    transition: all 1s linear;
}
/*--------------------------------*/
.container{
    width:100%;
    max-width: 1200px;
    margin:0 auto;
    overflow: visible;
}
/*---------------------------------*/
header{
    background-color: #eae8e8;
}
.header-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px 10px 30px 10px;
    align-items: center;
    overflow-x: hidden;
}
.navigation  ul{
    display:flex;
    flex-wrap: wrap;
}
.navigation  ul li:not(:last-child){
    margin-right: 60px;
}
.navigation  ul li:not(:first-child){
    padding: 10px;
}
.navigation  ul li:first-child{
    padding: 10px 10px 10px 0px;
}
.navigation  ul li{
    list-style: none;
}
.navigation  ul li a{
    text-decoration: none;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}
.navigation  ul li a:hover{
    font-weight: 900;
}
a.contact{
    text-decoration: none;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 900;
    padding: 10px 50px;
    border:solid 3px #000;
    border-radius: 5px;
}

@media screen and (max-width:630px){
    .navigation  ul{
        justify-content: center;
    }
    .navigation  ul li{
        padding:10px;

    }
    .navigation  ul li:first-child{
        padding: 10px;
    }
    .navigation  ul li:not(:last-child){
        margin-right: 30px;
    }
    .navigation  ul li{
        margin: 30px;
    }
    .navigation  ul li a{
        font-size: 20px; 
    }
    a.contact{
        margin: 0 auto;
        font-size: 20px;
    }
}
/*--------------------------------------------------------*/
.home{
    background-color: #eae8e8;
    background-image:url(images/bg-home1.png),url(images/bg-home2.png);
    background-position-y:200px,330px;
    background-position-x:0px,right;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.home-container {
    display:flex;
    justify-content:space-between;
    padding:120px 10px 160px 10px;
}
.text-home {
    width: 100%;
    max-width: 443px;
    padding-right: 15px;
}
.text-home h1{
    font-family: 'carido';
    font-weight: 900;
    font-size: 70px;
    letter-spacing: -3px;
    line-height: 77px;
}
.text-home p{
    font-family: 'Lato',sans-serif;
    font-size:16px;
    letter-spacing: 0px;
}
.text-home a{
    text-decoration:none;
    font-family:'Lato',sans-serif;
    font-weight: 900;
    color: #fff;
    padding:10px 50px;
    background-color:#000;
    border-radius:5px;
}
.text-home>*:not(:last-child){
    padding-bottom:45px;
}
.home-container .img-home{
    background-image: url(images/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    max-width: 660px;
    height: 418px;

}


@media screen and (max-width:1130px){
    .home-container{
        flex-direction: column;
        padding:50px 10px 80px 10px;
    }
    .text-home{
        text-align: center;
        margin:0 auto;
        max-width: 1000px;
        margin-bottom: 30px;
    }
    .img-home{
        margin:0 auto;
    }
}
/*-----------------------------------------*/
.remembers{
    background-color: #1e1e1e;
    background-image:url(images/bg-remembers1.png),url(images/bg-remembers2.png);
    background-position-y:50px,231px;
    background-position-x:0px,right;
    background-repeat: no-repeat;
}
.remembers-text{
    width:100%;
    max-width: 443px;
    margin:0 auto;
    overflow: visible;
    color:#fff;
    text-align: center;
    padding-top: 53px;
    padding-bottom: 53px;
}
.remembers-text h1{
    font-family: 'carido',serif;
    font-size:50px;
    line-height: 50px;
    padding-top: 50px;
}
.remembers-text p{
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 30px
}
.remembers-text a{
    display:inline-block;
    text-decoration:none;
    color:#fff;
    padding:10px 50px;
    border:solid 3px #fff;
    font-family: 'Lato',sans-serif;
    font-weight: 900;
}


@media screen and (max-width:1130px){
    .remembers{
        display:flex;
        justify-content: center;
    }
    .remembers-text{
        background-color: rgba(0,0,0,0.5);
        border-radius: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
/*-----------------------------------------*/
.galery{
    background-color: #eae8e8;
    background-image:url(images/bg-galery1.png),url(images/bg-galery2.png);
    background-position-y:54px,409px;
    background-position-x:0px,right;
    background-repeat: no-repeat;
}
.container-galery{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 165px;
    padding-bottom: 170px;
}
.container-galery>*:not(:last-child){
    margin-right: 60px;
}
.story{
    width:100%;
    max-width: 360px;
    overflow: hidden;
}
.g-img{
    width: 100%;
    height: 239px;
    object-fit: cover;
    object-position: center
}
img.line{
    padding-top: 30px;
    padding-bottom: 30px;
}
.story h1{
    font-family: 'carido',serif;
    font-weight: 900;
    font-size: 27px;
    letter-spacing: -1px;
    line-height: 27px;
    padding-bottom: 36px;
}
.story p{
    font-size:15px;
}


@media screen and (max-width:1200px){
    .container-galery{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .container-galery>*:not(:last-child){
        margin-right: 0px;
    }
    .story{
        box-sizing: border-box;
        margin: 10px;
        background-color: rgba(255,255,255,0.5);
        border-radius: 15px;
        padding: 15px;
    }
}
/*------------------------------------------*/
.before{
    background-color: #eae8e8;
    background-image:url(images/bg-before1.png),url(images/bg-before2.png);
    background-position-y:621px,0;
    background-position-x:133px,right;
    background-repeat: no-repeat;
}
.before-container{
    width:100%;
    max-width: 771px;
    margin:0 auto;
    overflow: visible;
    text-align: center;
    padding-top: 235px;
    padding-bottom: 271px;
}
.before-container img{
    padding-bottom: 62px;
}
.before-container h1{
    font-family: 'carido',sans-serif;
    font-size: 81px;
    font-weight:900;
    line-height: 78px;
    letter-spacing: -2px;
    padding-bottom: 87px;
}
.never{
    font-family: 'carido',sans-serif;
    text-decoration: underline;
    text-decoration-thickness:0.05em;
}
.before-container p{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
}


@media screen and (max-width:1000px){
    .before-container{
        box-sizing: border-box;
        background-color: rgba(255,255,255,0.5);
        border-radius: 15px;
        padding: 15px 15px 50px 15px;
    }
}
/*-------------------------------*/
.marker{
    background-color: #eae8e8;
    overflow-x: hidden;
}


.marker-img{
    display:inline-block;
}
.marker-img img{
    transform: translateX(-40px);
}
.marker-text{
    display:inline-block;
    width: 605px;
    float:left;
}
.marker-text img.mini-m{
    width: 436px;
    max-width: 100%;
}
.marker-text-text{
    display:flex;
    padding-top:78px;
    padding-bottom:41px;
}
.marker-text-text h1{
    font-family: 'carido',serif;
    font-size:27px;
    text-decoration: underline;
    padding-right: 30px;
    line-height:45px;
}
.marker-text-text .paragraf>*:not(:last-child){
    padding-bottom:28px;
}
.marker-text-text p{
    font-size:15px;
    text-align: justify;
}
img.direction, img.direction-2{
    padding: 10px;
    margin-bottom: 100px;
    border-radius: 15px;
    transition: all .5s linear;
}
img.direction{
    margin-left: auto;
}
img.direction:hover{
    background-color: rgba(0,0,0,0.5);
}
img.direction-2:hover{
    background-color: rgba(0,0,0,0.5);

}
.scrol{
    display:flex;
}
.scroll-el{
    width: 100%;
    transition: all .5s linear;
    display: flex;
    flex-shrink: 0;
}
#scroll2 {
    opacity: 0;
}
#scroll3{
    opacity: 0;
}


@media screen and (max-width:1200px){
    .marker-img{
        display:none;
    }
    .marker-text{
        display:block;
        padding-top:50px;
        margin:0 auto;
    }
    img.direction{
        padding: 10px;
        margin-left: 0px;
        margin-bottom: 50px;
    }
    .marker-text{
        width: auto;
    }
    .scrol{
        margin: 0 auto;
    }
}
/*-------------------------------------*/
.choose{
    background-color:#1e1e1e;
    background-image:url(images/choose-bg.png);
    background-position-y:775px;
    background-repeat: no-repeat;
}
.choose-container{
    display:flex;
    position: relative;
}
.choose-text{
    padding-right: 751px;
    padding-bottom: 175px;
    padding-top: 175px;
}
.choose-text h1{
    font-family: 'carido';
    font-weight: 900;
    font-size: 50px;
    color:#fff;
    padding-bottom: 68px;
    letter-spacing: 0px;
    line-height: 50px;
}
.choose-text p{
    text-align: justify;
}
.choose-text .choose-paragraf{
    color:#fff;
}
.choose-text .choose-paragraf h2{
    font-family: 'lato';
    font-size: 18px;
    padding-top: 56px;
    padding-bottom: 20px;
}

.choose-img{
    position:absolute;
    top:175px;
    right:-114px;
}


@media screen and (max-width:1400px) {
    .choose-img{
        display: none;
    }
    .choose-text{
        background-color: rgba(0,0,0,0.5);
        border-radius:15px;
        padding: 15px;
        box-sizing: border-box;
        padding-right: 0;
        padding-bottom: 175px;
        padding-top: 175px;
        text-align: center;
    }

}
/*----------------------------------------*/
.plus{
    background-color: #eae8e8;
}
.plus-container{
    display:flex;
    padding-top: 207px;
    padding-bottom: 262px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.text-plus{
    width: 100%;
    max-width: 738px;
    overflow-x: hidden;
}
.text-plus h1{
    font-family: 'carido';
    font-weight: 900;
    font-size: 70px;
    letter-spacing: -3px;
    line-height: 77px;
    padding-bottom: 15px;
}
.text-plus button{
    height: 80px;
    width: 100%;
    border: none;
    background-color: #eae8e8;
    cursor:pointer;
    font-size:16px;

}
.text-plus button.lastb{
    border-bottom:2px solid black;
}
.text-plus button:not(:last-child){
    border-top:2px solid black;
}
.text-plus button:hover{
    background-color: #b9b9b9 ;
}
.undebottom{
    text-align: center;
    display:none;
}
#w3{
    position:relative;
    top:-2px;
    border-top:2px solid #eae8e8;
    border-bottom:2px solid black;
}
.text-plus p{
    padding: 50px 0px;
    display:inline-block;
    font-size:15px;
    line-height: -15px;
    margin-left: 40px;
    margin-right: 102px;
}
.plus-plus{
    margin-left: 40px;
}
.plus-img{
    width:390px;
    overflow: hidden;
}
.plus-img img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}
img.line-plus{
    object-fit: cover;
    padding-top:3px;
    padding-bottom: 3px;
}


@media screen and (max-width:1130px){
    .plus-container{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .text-plus{
        margin: 0 auto;
        padding-bottom: 30px;
    }
    .plus-img{
        margin: 0 auto;
    }
}

/*------------------------------------------*/
.form{
    background-color: #eae8e8;
    background-image: url(images/bg-form.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}
.form-container{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 200px;
}
.form-container form{
    width:100%;
    max-width:465px;
}
.form-container form h1{
    font-family: 'carido';
    font-weight: 900;
    font-size: 70px;
    letter-spacing: -3px;
    padding-bottom: 35px;
}
.form-container form input{
    width: 100%;
    line-height:60px;
    border:2px solid #000;
    border-radius:10px;
    padding-left: 30px;
    font-size: 19px;
    color:#000;
    box-sizing: border-box;
    background-color: #eae8e8;
    margin-bottom: 25px;
}
.form-container form input::placeholder{
    color:#000;
    font-size: 19px;
}
.form-container textarea{
    width: 100%;
    height:224px;
    font-size: 19px;
    border:2px solid #000;
    border-radius:10px;
    padding-left: 30px;
    padding-top: 30px;
    box-sizing: border-box;
    background-color: #eae8e8;
    margin-bottom: 40px;
}
.form-container form textarea::placeholder{
    color:#000;
    font-size: 19px;
}
#submit{
    background-color: #000;
    color:#fff;
    font-family: 'Lato';
    font-size: 19px;
}

@media screen and (max-width:1130px){
    .form-container{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    form{
        margin: 0 auto;
        padding-bottom: 30px;
    }
    .form-img{
        display:none;
    }
}
/*------------------------------------------*/
footer{
    background-color: #c5c5c5;
    background-image: url(images/bg-footer.png);
    background-repeat: no-repeat;
    background-position-y: 392px;

}
.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 127px;
}
.footer-container .logo{
    width: 260px;
}
.footer-container .logo h1{
    font-family: 'carido';
    font-weight: 900;
    font-size:70px;
    line-height: 70px;
    letter-spacing: -0px;
}
.link-container h1{
    font-family: 'Lato';
    font-weight: 900;
    font-size: 25px;
}
.link{
    display: grid;
    grid-template-columns: 200px 200px 200px  200px ;
    grid-template-rows:65px 65px 65px ;
    align-items: end;
}
.link a{
    font-size: 20px;
    color:#000;
    text-decoration: none;
}
.footer-container h2{
    font-family: 'Lato';
    font-size: 25px;
    font-weight: normal;
    margin: 0 auto;
    padding-top: 123px;
    padding-bottom: 123px;
}
@media screen and (max-width:1060px) {
    .footer-container{
        justify-content: center;
        background-color: rgba(255,255,255,0.5);
    }
}
@media screen and (max-width:795px){
    .link{
        grid-template-columns: 200px 200px ;
        grid-template-rows:65px 65px 65px 65px 65px 65px;
        align-items: end;
    }
}